# macOS
.DS_Store

## Xcode User settings
*xcuserdata*

# Xcode test execution reports
*.xcresult

xcresult-parser/**

# Ignore Birds and Filter asset catalog data
Birds*.xcassets
Filter*.xcassets

# Ignoring raw data files
data-scripts/data
data-scripts/images
data-scripts/svg
data-scripts/voices

# Overriden config files
LocalConfig.xcconfig
