# macOS
.DS_Store

## Xcode User settings
*xcuserdata*

# Xcode test execution reports
*.xcresult

xcresult-parser/**

# Ignore Birds and Filter asset catalog data
Birds*.xcassets
Filter*.xcassets

# Ignoring raw data files
data-scripts/data
data-scripts/images
data-scripts/svg
data-scripts/voices

# Overriden config files
LocalConfig.xcconfig

# fastlane specific
**/fastlane/*.xml
**/fastlane/*.html
**/fastlane/screenshots
**/fastlane/test_output
**/fastlane/swiftlintOutput.txt

# Ignore my Apple Store related info
**/fastlane/Appfile
**/fastlane/Deliverfile
**/fastlane/metadata

# build directories
build*
