<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>INIntentsSupported</key>
	<array>
		<string>ConfigurationIntent</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeDate</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Vogel des Tages</string>
			<key>UIApplicationShortcutItemType</key>
			<string>BirdOfTheDay</string>
		</dict>
	</array>
</dict>
</plist>
